USE [ProjeItDB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HastaUzmanlik]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HastaUzmanlik](
	[HastaUzmanlikId] [int] IDENTITY(1,1) NOT NULL,
	[HastaUzmanlikAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.HastaUzmanlik] PRIMARY KEY CLUSTERED 
(
	[HastaUzmanlikId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KanserTur]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KanserTur](
	[KanserTurId] [int] IDENTITY(1,1) NOT NULL,
	[KanserTurAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.KanserTur] PRIMARY KEY CLUSTERED 
(
	[KanserTurId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciId] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](max) NULL,
	[AdiSoyadi] [nvarchar](max) NULL,
	[Sifre] [nvarchar](max) NULL,
	[RolId] [int] NULL,
 CONSTRAINT [PK_dbo.Kullanici] PRIMARY KEY CLUSTERED 
(
	[KullaniciId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MateryalTip]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MateryalTip](
	[MateryalTipId] [int] IDENTITY(1,1) NOT NULL,
	[MateryalTipAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.MateryalTip] PRIMARY KEY CLUSTERED 
(
	[MateryalTipId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjeTanim]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjeTanim](
	[ProjeTanimId] [int] IDENTITY(1,1) NOT NULL,
	[ProjeTanimAdi] [nvarchar](max) NULL,
	[SponsorId] [int] NULL,
	[HastaUzmanlikId] [int] NULL,
	[KanserTurId] [int] NULL,
	[MateryalTipId] [int] NULL,
	[TüpCinsId] [int] NULL,
 CONSTRAINT [PK_dbo.ProjeTanim] PRIMARY KEY CLUSTERED 
(
	[ProjeTanimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[RolId] [int] IDENTITY(1,1) NOT NULL,
	[RolAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Rol] PRIMARY KEY CLUSTERED 
(
	[RolId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sponsor]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sponsor](
	[SponsorId] [int] IDENTITY(1,1) NOT NULL,
	[SponsorAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Sponsor] PRIMARY KEY CLUSTERED 
(
	[SponsorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TüpCins]    Script Date: 1.07.2022 11:57:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TüpCins](
	[TüpCinsId] [int] IDENTITY(1,1) NOT NULL,
	[TüpCinsAdi] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.TüpCins] PRIMARY KEY CLUSTERED 
(
	[TüpCinsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HastaUzmanlik] ON 

INSERT [dbo].[HastaUzmanlik] ([HastaUzmanlikId], [HastaUzmanlikAdi]) VALUES (1002, N'KBB ve Tıbbi Onkoloji
')
INSERT [dbo].[HastaUzmanlik] ([HastaUzmanlikId], [HastaUzmanlikAdi]) VALUES (1003, N'Göğüs Cerrahi ve T')
INSERT [dbo].[HastaUzmanlik] ([HastaUzmanlikId], [HastaUzmanlikAdi]) VALUES (1004, N'Göğüs Cerrahi ve Tıbbi Onkoloji
')
SET IDENTITY_INSERT [dbo].[HastaUzmanlik] OFF
GO
SET IDENTITY_INSERT [dbo].[KanserTur] ON 

INSERT [dbo].[KanserTur] ([KanserTurId], [KanserTurAdi]) VALUES (1, N'Nazofaringeal Karsinoma (Üst Yutak)')
INSERT [dbo].[KanserTur] ([KanserTurId], [KanserTurAdi]) VALUES (2, N'NSCLC
')
SET IDENTITY_INSERT [dbo].[KanserTur] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([KullaniciId], [KullaniciAdi], [AdiSoyadi], [Sifre], [RolId]) VALUES (3, N'User 74', NULL, N'123', NULL)
INSERT [dbo].[Kullanici] ([KullaniciId], [KullaniciAdi], [AdiSoyadi], [Sifre], [RolId]) VALUES (1004, N'User 76', NULL, NULL, NULL)
INSERT [dbo].[Kullanici] ([KullaniciId], [KullaniciAdi], [AdiSoyadi], [Sifre], [RolId]) VALUES (1006, N'Admin', N'Admin', N'123', 1)
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
GO
SET IDENTITY_INSERT [dbo].[MateryalTip] ON 

INSERT [dbo].[MateryalTip] ([MateryalTipId], [MateryalTipAdi]) VALUES (1, N'SST veya Plazma
')
INSERT [dbo].[MateryalTip] ([MateryalTipId], [MateryalTipAdi]) VALUES (2, N'WB
')
SET IDENTITY_INSERT [dbo].[MateryalTip] OFF
GO
SET IDENTITY_INSERT [dbo].[ProjeTanim] ON 

INSERT [dbo].[ProjeTanim] ([ProjeTanimId], [ProjeTanimAdi], [SponsorId], [HastaUzmanlikId], [KanserTurId], [MateryalTipId], [TüpCinsId]) VALUES (2, N'Test', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[ProjeTanim] ([ProjeTanimId], [ProjeTanimAdi], [SponsorId], [HastaUzmanlikId], [KanserTurId], [MateryalTipId], [TüpCinsId]) VALUES (3, N'Test76', 1, 1002, 1, 1, 1)
INSERT [dbo].[ProjeTanim] ([ProjeTanimId], [ProjeTanimAdi], [SponsorId], [HastaUzmanlikId], [KanserTurId], [MateryalTipId], [TüpCinsId]) VALUES (4, N'Test76', 2, 1003, 2, 2, 2)
SET IDENTITY_INSERT [dbo].[ProjeTanim] OFF
GO
SET IDENTITY_INSERT [dbo].[Rol] ON 

INSERT [dbo].[Rol] ([RolId], [RolAdi]) VALUES (1, N'Admin')
INSERT [dbo].[Rol] ([RolId], [RolAdi]) VALUES (2, N'User')
SET IDENTITY_INSERT [dbo].[Rol] OFF
GO
SET IDENTITY_INSERT [dbo].[Sponsor] ON 

INSERT [dbo].[Sponsor] ([SponsorId], [SponsorAdi]) VALUES (1, N'XALTO
')
INSERT [dbo].[Sponsor] ([SponsorId], [SponsorAdi]) VALUES (2, N'XABİ
')
INSERT [dbo].[Sponsor] ([SponsorId], [SponsorAdi]) VALUES (3, N'YBİO
')
SET IDENTITY_INSERT [dbo].[Sponsor] OFF
GO
SET IDENTITY_INSERT [dbo].[TüpCins] ON 

INSERT [dbo].[TüpCins] ([TüpCinsId], [TüpCinsAdi]) VALUES (1, N'Li-heparin, K2-K3 EDTA, Na sitrat, ACD, CPD
')
INSERT [dbo].[TüpCins] ([TüpCinsId], [TüpCinsAdi]) VALUES (2, N'Streck')
SET IDENTITY_INSERT [dbo].[TüpCins] OFF
GO
