
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 1;
}
@if (ViewBag.RolAdi == "Admin")
{
    <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
        <a style="margin-left: -1em; margin-bottom: 1em; width: 5em;" href="~/KanserTur/KanserTurCreate" class="btn btn-primary">Ekle</a>
    </div>
}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <section class="panel">
                <header class="panel-heading no-border">
                    Kanser Türleri
                </header>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Kanser Tür Adı</th>
                            @if (ViewBag.RolAdi == "Admin")
                            {
                                <th>Güncelle</th>
                                <th>Sil</th>
                            }
                            </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.List)
                        {
                        <tr>
                            <td>@i</td>

                            <td>@item.KanserTurAdi</td>
                            @if (ViewBag.RolAdi == "Admin")
                            {
                                <td>
                                    <a href="/KanserTur/KanserTurEdit/@item.KanserTurId" class=" btn btn-warning btn-sm "><i data-feather='edit'></i>Güncelle </a>
                                </td>
                                <td>
                                    <a href="/KanserTur/KanserTurDelete/@item.KanserTurId" class="btn btn-danger "><i data-feather='trash-2'></i> Sil</a>
                                </td>
                            }
                            </tr>
                            i = i + 1;
                        }

                    </tbody>
                </table>
            </section>
        </div>
    </div>
